{% extends 'base.html' %}
{% block title %}Профиль - Stepik Delivery{% endblock %}
{% include '_sidebar.html' %}
{% block content %}
  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
        {% for order in order_list|sort(attribute='timestamp', reverse=True) %}
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{ order.timestamp.strftime('%d %B') }}</span>
                  <span class="h5">- {{ order.dishes|sum(attribute='price') }} P</span>
                </div>
              </div>
            </li>
            <div class="card-body">
              <div class="row">
                {% for dish in order.dishes %}
                <p class="col-4 text-muted">{{ dish.title }}</p>
                <p class="col-2 text-muted">1</p>
                <p class="col-6 text-muted">{{ dish.price }}</p>
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}